modules = ["python-3.12:v25-20230920-d4ad2e4", "python-3.12:v25-20230920-d4ad2e4"]

[nix]
channel = "stable-24_05"

[deployment]
build = []
run = ["sh", "-c", "streamlit run streamlit_app.py --server.address=0.0.0.0 --server.port=8501 --server.headless=true"]

[[ports]]
localPort = 8501
externalPort = 80

[env]
STREAMLIT_SERVER_PORT = "8501"
STREAMLIT_SERVER_ADDRESS = "0.0.0.0"

[languages.python]
pattern = "**/*.py"
syntax = "python"

[languages.python.languageServer]
start = ["pylsp"]

[workflows]
runButton = "Streamlit"

[[workflows.workflow]]
name = "Streamlit"
author = 23072300

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run streamlit_app.py --server.address=0.0.0.0 --server.port=8501 --server.headless=true --server.enableXsrfProtection=false --server.enableWebsocketCompression=false"
